{% extends "_base.html" %}
{% block content %}
<h2>TRANSACTION HISTORY&nbsp;&nbsp;{{ member.number }}</h2>
{% if rows %}
<table border="1" cellpadding="3" cellspacing="0">
<caption align="left"><b>TRANSACTION HISTORY</b></caption>
<tr><td><b>DATE</b></td><td><b>SHARE</b></td><td><b>DESCRIPTION</b></td><td><b>AMOUNT</b></td></tr>
{% for r in rows %}
<tr><td>{{ r.date }}</td><td>{{ r.share }}</td><td>{{ r.description }}</td><td align="right">{{ r.amount }}</td></tr>
{% endfor %}
</table>
{% else %}
<table><tr><td class="err">NO TRANSACTIONS IN LAST 90 DAYS</td></tr></table>
{% endif %}
<br>
<table><tr><td><input type="button" value="BACK" onclick="location.href='/cgi/MBRDTL?m={{ member.number }}'"></td></tr></table>
{% endblock %}
